.itemIcon {
    position: static;
	vertical-align: middle;
}

.inventory_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inventory_item {
    text-align: center;
    justify-content: center;
    padding: 1%;
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px dotted;
    border-color: #464646;
}
.inventory_item_icon {
    position: static;
    width: 70%;
    margin: 0 auto;
    padding-top: 5px;
    border: 2px dashed;
    border-color: #464646;
    border-radius: 20%;
}
.inventory_item_icon_empty {
    position: static;
    width: 70%;
    height: 0;
    padding-bottom: 70%;
    margin: 0 auto;
    padding-top: 5px;
    border: 2px dashed;
    border-color: #464646;
    border-radius: 20%;
}