.itemIcon {
    position: static;
	vertical-align: middle;
}

.inventory_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inventory_item {
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 2px dotted;
    border-color: #464646;
    display:flex;
    justify-content:center;
    align-items:center;
}
.inventory_item_icon {
    position: static;
    width: 30px;
}
.inventory_item_icon_empty {
    position: static;
    width: 35px;
    height: 35px;
    border: 2px dashed;
    border-color: #464646;
    border-radius: 10%;
}
